@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-background: 240 8% 5%;
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 15.1%;
    --muted-foreground: 255 0% 100%;

    --popover: 0 0 0%;
    --popover-foreground: 210 40% 98%;

    --card: 0 0% 5%;
    --card-foreground: 255 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 166 94% 81%;

    --primary-bg: 166 94% 81%;
    --primary-hover: 166 94% 71%;
    --primary: 166 94% 81%;
    --primary-foreground: 240 8% 5%;

    --secondary: 166 94% 81%;
    --secondary-foreground: 0 0% 100%;

    --accent: 0 0% 5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --nav-primary: 0 0% 100%;
    --nav-shadow: 0 0% 0%;

    --tooltip-shadow: rgba(9, 24, 44, 0.07);

    --radius: 1rem;

    --panel-border: 0 0% 100%;
    --panel-bg: 240 7% 8%;
    --input-background: 0 0% 100%;
    --icon-foreground: 106 118 146;

    --product-green: 93 189 176;
    --product-orange: 240 181 122;
    --product-blue: 95 190 177;
    --product-red: 248 116 189;

    --gradient-yellow: 252 229 114;
    --gradient-green: 161 252 231;

    --product-dai: 245 172 55;
    --product-sdai: 38 182 62;
    --prompt-foreground: #ffffff80;
    --success-background: #e2f1ec;
    --checkbox: #0b2140;
    --product-dark-blue: 37, 87, 214;

    --basics-black: 11 33 64;
    --basics-white: 255 255 255;
    --basics-border: rgba(35, 66, 84, 0.1);
    --basics-dark-grey: 106 118 146;
    --basics-grey: 217 217 217;
    --basics-light-grey: 249 249 251;
    --basics-green: 51 190 39;
    --basics-red: 220 38 38;
    --spark: 242 166 43;

    --main-blue: 64 102 239;

    --sec-green: 109 194 117;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-body text-foreground relative min-h-screen font-sans;
  }
  input {
    background: none;
    @apply slashed-zero;
  }


  .TooltipContent[data-side="bottom"] > span >svg {
    transform: translateY(100%);
  }
}


/* Friendly Captcha */
.frc-captcha, .frc-container, .frc-button {
  width: 100% !important;
}

.frc-text, .frc-button, .frc-banner > a, .frc-banner > b {
  color: white !important;
}

.frc-captcha {
  background-color: transparent !important;
  border: none !important;
  max-width: unset !important;
}

.frc-icon {
  display: none;
}

.frc-text, .frc-button, .frc-banner > a, .frc-banner > b {
  color: white !important;
}

.frc-captcha {
  background-color: transparent !important;
  border: none !important;
  max-width: unset !important;
}

.frc-icon {
  display: none;
}

.frc-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.frc-text {
  font-size: 12px;
  opacity: 0.8;
}

.frc-button {
  background-color: hsl(var(--primary-bg)) !important;
  border-radius: 100px !important;
  padding: 7px 16px !important;
  font-weight: 600 !important;
  transition: background-color 0.2s ease-in-out !important;
  margin-bottom: 8px !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  color: hsl(var(--primary-foreground)) !important;
}

.frc-button:hover {
  background-color: hsl(var(--primary-hover)) !important;
}

.frc-banner {
  font-size: 10px;
  position: relative;
  right: unset !important;
}


.frc-banner > a,
.frc-banner > b {
  opacity: 0.6;
}

.connect-button:hover .connect-button-circle {
  opacity: .3;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 10px 0px inset;
  transform: translate(-50%, -4px);
}

.connect-button-circle {
  transform: translate(-50%, 0);
  opacity: .2;
  transition: all 0.3s ease-in-out;
  background-color: hsl(var(--primary-bg));
}

/********************************* */

.gradient-border {
  --borderWidth: 1px;
  background: #000;
  position: relative;
  border-radius: 8px;
}

.gradient-border:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(60deg,
    rgb(var(--gradient-yellow)) 30%,
    rgb(var(--gradient-green)) 70%,
    rgb(var(--gradient-yellow))
  );
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 200% 200%;
  transform: translate3d(0, 0, calc(var(--i, 1) * 50px));
  transition: scale 0.25s 0.1s, transform 1s 1s, outline-color 1s 1s;
  filter: blur(calc(var(--blur, 10) * 1px)) brightness(var(--brightness, 1.25));
  inset: 60% 0 0 0;
  border-radius: 50% 50% 6px 6px / 50% 50% 6px 6px;
  transform-origin: 50% 25%;
  opacity: 1;
  scale: 0.6 0.4;
  transition: scale 0.24s;
}
.gradient-border:hover:before, .gradient-border:focus:before {
  scale: 1.1 1.25;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth, 1px));
  left: calc(-1 * var(--borderWidth, 1px));
  height: calc(100% + var(--borderWidth, 1px) * 2);
  width: calc(100% + var(--borderWidth, 1px) * 2);
  background: linear-gradient(60deg,
    rgb(var(--gradient-yellow)) 30%,
    rgb(var(--gradient-green)) 70%,
    rgb(var(--gradient-yellow))
  );
  border-radius: 8px;
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 200% 200%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
